In [16]:
import pandas as pd

data = pd.read_excel("PDA - Zappy Loan Data (2).xlsx")
df = pd.DataFrame(data)
print(df)

f_df = df.loc[df['Gender'] == 1]
m_df = df.loc[df['Gender'] == 2]

     Loan_ID  Gender  Married  Dependents  Graduate  Self_Employed  \
0       2284       1        0           0         0              0
1       2287       2        0           0         1              0
2       2288       1        1           2         0              0
3       2296       1        0           0         0              0
4       2297       1        0           0         1              0
..       ...     ...      ...         ...       ...            ...
242     2978       2        0           0         1              0
243     2979       1        1           3         1              0
244     2983       1        1           1         1              0
245     2984       1        1           2         1              0
246     2990       2        0           0         1              1

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               3902             1666.0         109               333
1               1500             1800.0         103               333
2               2889                0.0          45               180
3               2755                0.0          65               300
4               2500            20000.0         103               333
..               ...                ...         ...               ...
242             2900                0.0          71               333
243             4106                0.0          40               180
244             8072              240.0         253               333
245             7583                0.0         187               333
246             4583                0.0         133               333

     Credit_History  Property_Area Loan_Status
0                 1              3           Y
1                 0              2           N
2                 0              1           N
3                 1              3           N
4                 1              2           Y
..              ...            ...         ...
242               1              3           Y
243               1              3           Y
244               1              1           Y
245               1              1           Y
246               0              2           N

[247 rows x 13 columns]
     Loan_ID  Gender  Married  Dependents  Graduate  Self_Employed  \
0       2284       1        0           0         0              0
2       2288       1        1           2         0              0
3       2296       1        0           0         0              0
4       2297       1        0           0         1              0
8       2308       1        1           0         0              0
..       ...     ...      ...         ...       ...            ...
240     2964       1        1           2         0              0
241     2974       1        1           0         1              0
243     2979       1        1           3         1              0
244     2983       1        1           1         1              0
245     2984       1        1           2         1              0

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               3902             1666.0         109               333
2               2889                0.0          45               180
3               2755                0.0          65               300
4               2500            20000.0         103               333
8               2167             2400.0         115               333
..               ...                ...         ...               ...
240             3987             1411.0         157               333
241             3232             1950.0         108               333
243             4106                0.0          40               180
244             8072              240.0         253               333
245             7583                0.0         187               333

     Credit_History  Property_Area Loan_Status
0                 1              3           Y
2                 0              1           N
3                 1              3           N
4                 1              2           Y
8                 1              1           Y
..              ...            ...         ...
240               1              3           Y
241               1              3           Y
243               1              3           Y
244               1              1           Y
245               1              1           Y

[198 rows x 13 columns]
     Loan_ID  Gender  Married  Dependents  Graduate  Self_Employed  \
1       2287       2        0           0         1              0
5       2300       2        0           0         0              0
6       2301       2        0           0         1              1
7       2305       2        0           0         1              0
9       2314       2        0           0         0              0
15      1908       2        1           0         0              0
19      1917       2        0           0         1              0
22      1925       2        0           0         1              1
24      1931       2        0           0         1              0
29      1945       2        0           0         1              0
33      1954       2        1           1         1              0
34      1955       2        0           0         1              0
38      1974       2        0           0         1              0
43      2318       2        0           1         0              1
47      2335       2        1           0         0              0
48      2337       2        0           0         1              0
49      2341       2        0           1         1              0
54      2357       2        0           0         0              0
59      2367       2        0           1         0              0
63      2377       2        0           1         1              1
68      2393       2        0           0         1              0
72      2407       2        1           0         0              1
96      2489       2        0           1         0              0
101     2502       2        1           2         0              0
106     2522       2        0           0         1              1
113     2534       2        0           0         0              0
126     2582       2        0           0         0              1
128     2586       2        1           1         1              0
133     2603       2        0           0         1              0
134     2606       2        0           0         1              0
142     2634       2        0           1         1              0
149     2670       2        1           2         1              0
152     2684       2        0           0         0              0
167     2731       2        0           0         0              1
173     2741       2        1           1         1              0
174     2743       2        0           0         1              0
175     2753       2        0           1         1              0
177     2757       2        1           0         0              0
181     2776       2        0           0         1              0
189     2794       2        0           0         1              0
192     2804       2        1           0         1              0
194     2813       2        1           1         1              1
201     2840       2        0           0         1              0
215     2894       2        1           0         1              0
220     2917       2        0           0         0              0
233     2949       2        0           3         1              0
237     2959       2        1           1         1              0
242     2978       2        0           0         1              0
246     2990       2        0           0         1              1

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
1               1500             1800.0         103               333
5               1963                0.0          53               333
6               7441                0.0         194               333
7               4547                0.0         115               333
9               2213                0.0          66               333
15              4100                0.0         124               333
19              1811             1666.0          54               333
22              2600             1717.0          99               300
24              4124                0.0         115               333
29              5417                0.0         143               480
33              4666                0.0         135               333
34              5000             2541.0         151               480
38              5000                0.0         132               333
43              3867                0.0          62               333
47              2149             3237.0         178               333
48              2995                0.0          60               333
49              2600                0.0         160               333
54              2720                0.0          80               480
59              4606                0.0          81               333
63              8624                0.0         150               333
68             10047                0.0         333               240
72              7142                0.0         138               333
96              5191                0.0         132               333
101              210             2917.0          98               333
106             2500                0.0          93               333
113             4350                0.0         154               333
126            17263                0.0         225               333
128             3326              913.0         105                84
133              645             3683.0         113               480
134             3159                0.0         100               333
142            13262                0.0          40               333
149             2031             1632.0         113               480
152             3400                0.0          95               333
167            18165                0.0         125               333
173             4608             2845.0         140               180
174             2138                0.0          99               333
175             3652                0.0          95               333
177             3017              663.0         102               333
181             5000                0.0         103               333
189             2667             1625.0          84               333
192             4180             2306.0         182               333
194            19484                0.0         600               333
201             2378                0.0           9               333
215             3166                0.0          36               333
220             2165                0.0          70               333
233              416            41667.0         350               180
237            12000                0.0         496               333
242             2900                0.0          71               333
246             4583                0.0         133               333

     Credit_History  Property_Area Loan_Status
1                 0              2           N
5                 1              2           Y
6                 1              3           N
7                 1              2           Y
9                 1              3           Y
15                0              3           Y
19                1              1           Y
22                1              2           N
24                1              2           Y
29                0              1           N
33                1              1           Y
34                1              3           N
38                1              3           Y
43                1              2           N
47                0              2           N
48                1              1           Y
49                1              1           N
54                0              1           N
59                1              3           N
63                1              2           Y
68                1              2           Y
72                1              3           Y
96                1              2           Y
101               1              2           Y
106               0              1           Y
113               1              3           Y
126               1              2           Y
128               1              2           Y
133               1              3           Y
134               1              2           Y
142               1              1           Y
149               1              2           Y
152               1              3           N
167               1              1           Y
173               1              2           Y
174               0              2           N
175               1              2           Y
177               0              2           Y
181               0              2           N
189               0              1           Y
192               1              2           Y
194               1              2           Y
201               1              1           N
215               1              2           Y
220               1              2           Y
233               0              1           N
237               1              2           Y
242               1              3           Y
246               0              2           N